@font-face {
    font-family:"China Fad";
    src: url("fonts/China_Fad.eot?") format("eot"),
        url("fonts/China_Fad.woff") format("woff"),
        url("fonts/China_Fad.ttf") format("truetype"),
        url("fonts/China_Fad.svg#ChinaFad") format("svg");
    font-weight:normal;font-style:normal;}

body {
    display: flex;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

.left-section {
    background-image: url("images/polina-kuzovkova-WS6BzS9DhOY-unsplash.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    font-family: "China Fad";
    width: 33%;
    height: 100vh;
}

div.header-div {
    background: #9f9890;
    opacity: 50%;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 15%;
}

span.header {
    display: inline-block;
}

h1 {
    font-size: 52px;
    color: #900a06;
    padding: 6px;
}

.right-section {
    display: flex;
    flex-direction: column;
    width: 67%;
    background-color: #f9fafb;
    justify-content: center;
    gap: 50px;
}

section.intro {
    margin: 20px 50px;
    font-size: 20px;
}

form {
    width: 100%;
}

label {
    color: #1f2937;
}

section.form-body {
    background: white;
    box-shadow: 5px 4px 10px 2px #9f9890;
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 50px 60px 100px 60px;
}

section.form-body > p {
    font-size: 20px;
    font-weight: bold;
    color: #1f2937;
}

.form-items {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.form-items > div {
    display: flex;
    gap: 20px;
}

.form-items > div > div {
    flex-basis: 50%;
    flex-shrink: 3;
    gap: 5px;
}

.label-field {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border: none;
}

.label-field > input {
    border-radius: 5px;
    height: 25px;
    outline: 1px black solid;
    background-color: transparent;
}

.label-field > input:focus {
    outline: 2px #8d7643 solid;
    box-shadow: 2px 2px 3px 0.5px #c4b174;
}

.label-field > input.matching {
    outline: 2px red solid;
}


form.submitted .label-field > input:not(:placeholder-shown):not(:focus):invalid {
    border: 1px red groove;
}


button.create-account {
    background-color: #ad743a;
    margin: 20px 50px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 7px;
}

section.bottom-right {
    justify-self: flex-start;
}

section.bottom-right > p {
    margin: 50px;
}

section.bottom-right > p > a:link {
    color: #ad743a;
}

section.bottom-right > p > a:visited {
    color: #50351a;
    text-decoration: wavy;
}